// 设计规范
/**********************定义通用设计规范-开始*************************/
$baseColor: #ff2441;
$baseActiveColor: #df001e;
$baseHoverColor: #f56c6c;

$baseFontColor-1: #4D555D;
$baseFontColor-2: #333333;
$baseFontColor-3: #666666;
$baseFontColor-4: #909399;
$baseFontColor-5: #222222;

$baseLineColorLevel1: #DCDFE6;
$baseLineColorLevel2: #E4E7ED;
$baseLineColorLevel3: #EBEEF5;
$baseBgColor: #f2f2f2;
$baseBgColorGray: #323232;

$baseFontSize-1: 20px;
$baseFontSize-2: 16px;
$baseFontSize-3: 14px;
/**********************定义通用设计规范-结束*************************/
