body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background:#fff;
  color:#000;
  font: 400 1em/1.8 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB', STHeiti, 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif
}
td,th,caption {
  font-size:14px;
}
address, caption, cite, code, dfn, em, th, var {
  font-style:normal; font-weight:normal;
}
a{
  text-decoration:none;
}
img{
  border:none;
}
ol,ul,li {
  list-style:none;
}
li{
  vertical-align:top;
}
table {
  border-collapse:collapse;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.clearfix:after {
  content: ".";
  display: block;
  height:0;
  clear:both;
  visibility: hidden;
}
.clearfix { *zoom:1; }
